<a href="https://colab.research.google.com/github/Vivek-1116/SDAE-and-VAE-for-Cancer-Classification-through-Multi-omics-Feature-Extraction/blob/main/DATA_PRE_PROCESSING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Code Implementation on MULTI-OMICS DATA PRE-PROCESSING
Dataset for this project is made up of Multi-Omics Cancer Benchmark TCGA Pre-processed data.

Data Source : http://acgt.cs.tau.ac.il/multi_omic_benchmark/download.html

Data Description : Lung Squamous Cell Carcinoma (LUSC) Data

Omics Involved : Gene expression, DNA methylation & miRNA expression

## RAW DATA

IMPORT LIBRARIES

In [1]:
import numpy as np #Fundamental package for scientific computing
import pandas as pd #For data manipulation and analysis
import matplotlib.pyplot as plt #2D plotting library
import seaborn as sns #Python data visualization library based on matplotlib
import warnings #Typically issued in situations where it is useful to alert the user of some condition in a program
from collections import Counter #Supports iterations
warnings.filterwarnings('ignore') #Ignores all warnings

In [38]:
data_path = '' #Change this path accordingly

IMPORT DATASET (3 DIFFERENT OMICS & 1 CLINICAL DATA)

In [39]:
print("RAW MULTIOMICS DATASET") 

dataframe0 = pd.read_csv(data_path + "lung.csv",sep=',') #Reading clinical dataset 
print("CLINICAL DATA :", dataframe0.shape)

dataframe1 = pd.read_csv(data_path + "exp.csv",sep=',') #Reading Gene Expression dataset
print("GENE EXPRESSION :", dataframe1.shape)

dataframe2 = pd.read_csv(data_path + "mirna.csv",sep=',') #Reading miRNA dataset
print("MIRNA :", dataframe2.shape)

dataframe3 = pd.read_csv(data_path + "methy.csv",sep=',') #Reading DNA Methylation dataset 
print("DNA METHYLATION :", dataframe3.shape)

RAW MULTIOMICS DATASET
CLINICAL DATA : (626, 127)
GENE EXPRESSION : (20531, 553)
MIRNA : (1046, 388)
DNA METHYLATION : (5000, 413)

In [40]:
print("GENE EXPRESSION :")
dataframe1.head()

GENE EXPRESSION :

,sampleID,TCGA.18.3406.01,TCGA.18.3407.01,TCGA.18.3408.01,TCGA.18.3409.01,TCGA.18.3410.01,TCGA.18.3411.01,TCGA.18.3412.01,TCGA.18.3414.01,TCGA.18.3415.01,...,TCGA.NK.A5CX.01,TCGA.NK.A5D1.01,TCGA.NK.A7XE.01,TCGA.O2.A52N.01,TCGA.O2.A52Q.01,TCGA.O2.A52S.01,TCGA.O2.A52V.01,TCGA.O2.A52W.01,TCGA.O2.A5IB.01,TCGA.XC.AA0X.01
0,?|100130426,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1,?|100133144,75.3622,14.4148,8.4888,2.5897,16.6653,12.9418,47.5782,12.3168,55.1387,...,40.3766,39.5911,20.8723,30.2240,4.2895,19.9503,30.0872,53.6593,72.5666,44.7501
2,?|100134869,25.4252,6.9933,3.3754,7.1538,19.5722,14.4142,20.8881,25.7116,39.0809,...,17.3322,21.7407,15.7901,4.2022,3.6632,47.1026,15.2957,33.3907,42.1832,23.6304
3,?|10357,279.9764,198.2540,254.5929,164.3744,200.8033,277.6667,394.3623,205.8704,162.0405,...,142.3695,234.1647,133.6915,131.5628,153.5980,176.7177,188.7215,260.3332,160.1624,76.6488
4,?|10431,1510.2362,968.6013,1474.1213,944.6154,1156.0568,1119.5816,861.5023,1030.4597,1931.2139,...,935.5667,777.4533,2257.2693,607.6503,1103.4483,1188.3278,1248.0303,789.3606,460.8626,805.9507

In [41]:
print("MIRNA  :")
dataframe2.head()

MIRNA  :

,sampleID,TCGA.18.5592.01,TCGA.18.5595.01,TCGA.21.5782.01,TCGA.21.5783.01,TCGA.21.5784.01,TCGA.21.5786.01,TCGA.21.5787.01,TCGA.21.A5DI.01,TCGA.22.4593.01,...,TCGA.NK.A5CX.01,TCGA.NK.A5D1.01,TCGA.NK.A7XE.01,TCGA.O2.A52N.01,TCGA.O2.A52Q.01,TCGA.O2.A52S.01,TCGA.O2.A52V.01,TCGA.O2.A52W.01,TCGA.O2.A5IB.01,TCGA.XC.AA0X.01
0,hsa-let-7a-1,5998.824696,5348.668096,3829.339596,4114.228785,5035.557137,4015.422861,4258.855065,4928.943949,7679.403313,...,5775.836490,5505.353638,3229.464808,7378.365469,4047.602479,4451.880261,5131.082659,4156.836712,5322.569378,5334.495709
1,hsa-let-7a-2,11667.530080,10618.397890,7731.024727,8111.916613,10008.799220,7841.828348,8660.778360,9710.772056,15115.502850,...,11436.777210,10833.499850,6379.716329,14669.397180,8098.918503,8931.195340,10209.391080,8389.022277,10547.798170,10619.614950
2,hsa-let-7a-3,5913.311862,5498.172459,3852.399735,4126.215855,5005.512379,3954.410924,4345.840549,4951.473175,7519.926886,...,5800.563250,5499.186326,3229.221075,7398.416586,4083.607719,4419.330479,5178.294211,4248.410318,5400.827010,5323.701784
3,hsa-let-7b,16781.396390,24295.057030,13874.291040,12566.112020,23486.098880,8205.507344,7951.159940,17202.190110,16340.200020,...,19234.258720,5418.600119,8983.274297,11987.226100,3413.393594,6637.365662,7411.215183,7046.492717,18204.615870,11409.868080
4,hsa-let-7c,403.700120,3577.340401,1686.103124,1656.879446,2102.854892,829.642709,371.977398,1283.264683,3621.954997,...,2085.599953,1673.808414,1519.920192,480.781227,224.104362,306.432953,888.461497,2244.515827,7155.758773,1407.344141

In [42]:
print("DNA METHYLATION :")
dataframe3.head()

DNA METHYLATION :

,sampleID,TCGA.18.3417.11,TCGA.18.3417.01,TCGA.18.4721.11,TCGA.18.4721.01,TCGA.18.5592.11,TCGA.18.5592.01,TCGA.18.5595.11,TCGA.18.5595.01,TCGA.21.5782.01,...,TCGA.NK.A5CX.01,TCGA.NK.A5D1.01,TCGA.NK.A7XE.01,TCGA.O2.A52N.01,TCGA.O2.A52Q.01,TCGA.O2.A52S.01,TCGA.O2.A52V.01,TCGA.O2.A52W.01,TCGA.O2.A5IB.01,TCGA.XC.AA0X.01
0,cg00001747,0.015847,0.149876,0.029427,0.502545,0.026310,0.707292,0.020024,0.814340,0.263798,...,0.582352,0.019218,0.027433,0.152135,0.337585,0.054299,0.319541,0.267496,0.018694,0.204720
1,cg00002719,0.018211,0.698299,0.018122,0.414059,0.020022,0.365875,0.019219,0.766738,0.380456,...,0.029956,0.025137,0.040911,0.026605,0.045732,0.805444,0.037157,0.490965,0.020165,0.358758
2,cg00002749,0.947105,0.550682,0.950470,0.674452,0.955821,0.133416,0.949246,0.769248,0.468247,...,0.716054,0.863625,0.634855,0.899422,0.883124,0.321912,0.631143,0.620450,0.902561,0.580539
3,cg00003298,0.012583,0.085973,0.015727,0.536764,0.017323,0.735382,0.016739,0.347104,0.073598,...,0.169169,0.021419,0.208396,0.614912,0.024274,0.035164,0.377720,0.033130,0.054073,0.278738
4,cg00009292,0.062456,0.559790,0.066961,0.351668,0.069340,0.632683,0.068826,0.663676,0.258305,...,0.089489,0.073494,0.058466,0.636490,0.252254,0.101868,0.358253,0.624307,0.835780,0.211610

In [43]:
print("CLINICAL :")
dataframe0.head()

CLINICAL :

,sampleID,_EVENT,_INTEGRATION,_OS,_OS_IND,_OS_UNIT,_PANCAN_CNA_PANCAN_K8,_PANCAN_Cluster_Cluster_PANCAN,_PANCAN_DNAMethyl_LUSC,_PANCAN_DNAMethyl_PANCAN,...,_GENOMIC_ID_TCGA_LUSC_PDMRNAseqCNV,_GENOMIC_ID_TCGA_LUSC_gistic2,_GENOMIC_ID_TCGA_LUSC_PDMarray,_GENOMIC_ID_TCGA_LUSC_exp_HiSeqV2_exon,_GENOMIC_ID_TCGA_LUSC_PDMarrayCNV,_GENOMIC_ID_TCGA_LUSC_exp_HiSeqV2_PANCAN,_GENOMIC_ID_data/public/TCGA/LUSC/miRNA_GA_gene,_GENOMIC_ID_TCGA_LUSC_gistic2thd,_GENOMIC_ID_TCGA_LUSC_hMethyl450,_GENOMIC_ID_TCGA_LUSC_RPPA
0,TCGA-18-3406-01,1.0,TCGA-18-3406-01,371.0,1.0,days,Squamous,C2-Squamous-like,cluster 1,Cluster 13 (HNSC-LUSC),...,TCGA-18-3406-01,TCGA-18-3406-01A-01D-0978-01,TCGA-18-3406-01,99516b1e-9ee2-48d9-90e4-e78370eccef6,TCGA-18-3406-01,99516b1e-9ee2-48d9-90e4-e78370eccef6,TCGA-18-3406-01,TCGA-18-3406-01A-01D-0978-01,NaN,NaN
1,TCGA-18-3406-11,1.0,TCGA-18-3406-11,371.0,1.0,days,NaN,C2-Squamous-like,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TCGA-18-3407-01,1.0,TCGA-18-3407-01,136.0,1.0,days,High,C2-Squamous-like,cluster 2,Cluster 14 (HNSC),...,TCGA-18-3407-01,TCGA-18-3407-01A-01D-1969-01,TCGA-18-3407-01,0aea71d4-f403-474a-91d3-f9b0929c0acf,TCGA-18-3407-01,0aea71d4-f403-474a-91d3-f9b0929c0acf,TCGA-18-3407-01,TCGA-18-3407-01A-01D-1969-01,NaN,NaN
3,TCGA-18-3407-11,1.0,TCGA-18-3407-11,136.0,1.0,days,NaN,C2-Squamous-like,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TCGA-18-3408-01,1.0,TCGA-18-3408-01,2304.0,1.0,days,Squamous,C2-Squamous-like,cluster 3,Cluster 13 (HNSC-LUSC),...,TCGA-18-3408-01,TCGA-18-3408-01A-01D-0978-01,TCGA-18-3408-01,43672213-eb65-4206-bc57-56587b08259f,TCGA-18-3408-01,43672213-eb65-4206-bc57-56587b08259f,TCGA-18-3408-01,TCGA-18-3408-01A-01D-0978-01,NaN,NaN

DATA TRANSPOSITION

In [44]:
#taking transpose of data
dat1 = np.transpose(dataframe1)
dat2 = np.transpose(dataframe2)
dat3 = np.transpose(dataframe3)

#removing duplicate data
d1 = dat1.drop_duplicates() 
d2 = dat2.drop_duplicates() 
d3 = dat3.drop_duplicates()

## EXPLORATORY DATA ANALYSIS (EDA)

CHECKING FOR NON-NULL OBSERVATIONS & TOTAL NUMBER OF ENTRIES

In [11]:
print("Gene Expression:")
d1.info()
print("MiRNA:")
d2.info()
print("DNA Methylation:")
d3.info()

Gene Expression:
<class 'pandas.core.frame.DataFrame'>
Index: 553 entries, sampleID to TCGA.XC.AA0X.01
Columns: 20531 entries, 0 to 20530
dtypes: object(20531)
memory usage: 86.6+ MB
MiRNA:
<class 'pandas.core.frame.DataFrame'>
Index: 388 entries, sampleID to TCGA.XC.AA0X.01
Columns: 1046 entries, 0 to 1045
dtypes: object(1046)
memory usage: 3.1+ MB
DNA Methylation:
<class 'pandas.core.frame.DataFrame'>
Index: 413 entries, sampleID to TCGA.XC.AA0X.01
Columns: 5000 entries, 0 to 4999
dtypes: object(5000)
memory usage: 15.8+ MB

CHECKING FOR MISSING VALUES

In [13]:
#Displays total NaNs found in each column
print("CHECKING MISSING VALUES IN GENE EXPRESSION")
d1.isnull().sum()

CHECKING MISSING VALUES IN GENE EXPRESSION

0        0
1        0
2        0
3        0
4        0
        ..
20526    0
20527    0
20528    0
20529    0
20530    0
Length: 20531, dtype: int64

In [14]:
#Displays total NaNs found in each column
print("CHECKING MISSING VALUES IN MIRNA")
d2.isnull().sum()

CHECKING MISSING VALUES IN MIRNA

0       0
1       0
2       0
3       0
4       0
       ..
1041    0
1042    0
1043    0
1044    0
1045    0
Length: 1046, dtype: int64

In [15]:
#Displays total NaNs found in each column
print("CHECKING MISSING VALUES IN DNA METHYLATION")
d3.isnull().sum()

CHECKING MISSING VALUES IN DNA METHYLATION

0       0
1       0
2       0
3       0
4       0
       ..
4995    0
4996    0
4997    0
4998    0
4999    0
Length: 5000, dtype: int64

CHECKING FOR MISSING VALUES IN FORM OF ZEROS

In [16]:
zeros_genes = (d1 == 0).sum() #Checking for Zeros in Gene Expression
print("Printing Columns with Missing Values:")
zeros_genes

Printing Columns with Missing Values:

0        534
1         15
2          5
3          0
4          0
        ...
20526      0
20527      0
20528      0
20529      0
20530    358
Length: 20531, dtype: int64

In [17]:
zeros_mirna = (d2 == 0).sum() #Checking for Zeros in MIRNA
print("Printing Columns with Missing Values:")
zeros_mirna

Printing Columns with Missing Values:

0        0
1        0
2        0
3        0
4        0
        ..
1041    10
1042     0
1043     0
1044     0
1045     0
Length: 1046, dtype: int64

In [18]:
zeros_methy = (d3 == 0).sum() #Checking for Zeros in DNA Methylation
print("Printing Columns with Missing Values:")
zeros_methy

Printing Columns with Missing Values:

0       0
1       0
2       0
3       0
4       0
       ..
4995    0
4996    0
4997    0
4998    0
4999    0
Length: 5000, dtype: int64

REPLACING ZEROS WITH NaNs

In [19]:
#d0_new = d0.replace(0, np.nan)
d1_new = d1.replace(0, np.nan) 
d2_new = d2.replace(0, np.nan) 
d3_new = d3.replace(0, np.nan)

DROPPING COLUMNS CONTAINING NULL VALUES

In [20]:
#Dropping columns containing NaN values

GENE = d1_new.dropna(axis=1,how='any',thresh=None,subset=None, inplace=False)
MIRNA = d2_new.dropna(axis=1,how='any',thresh=None,subset=None, inplace=False)
METHY = d3_new.dropna(axis=1,how='any',thresh=None,subset=None, inplace=False)

OMICS DATA WITHOUT NULL VALUES

In [21]:
GENE.info()

<class 'pandas.core.frame.DataFrame'>
Index: 553 entries, sampleID to TCGA.XC.AA0X.01
Columns: 13434 entries, 3 to 20529
dtypes: object(13434)
memory usage: 56.7+ MB

In [22]:
MIRNA.info()

<class 'pandas.core.frame.DataFrame'>
Index: 388 entries, sampleID to TCGA.XC.AA0X.01
Columns: 230 entries, 0 to 1045
dtypes: object(230)
memory usage: 700.2+ KB

In [23]:
METHY.info()

<class 'pandas.core.frame.DataFrame'>
Index: 413 entries, sampleID to TCGA.XC.AA0X.01
Columns: 5000 entries, 0 to 4999
dtypes: object(5000)
memory usage: 15.8+ MB

DROPPING ALL COLUMNS EXCEPT SAMPLE ID & TYPE IN CLINICAL DATA

In [24]:
dataframe0.drop(dataframe0.columns.difference(['sampleID','sample_type']), 1, inplace=True) #Dropping all columns except Sample_ID & Sample type

CLINICAL DATA SEGMENTATION

In [25]:
dataframe0

            sampleID          sample_type
0    TCGA-18-3406-01        Primary Tumor
1    TCGA-18-3406-11  Solid Tissue Normal
2    TCGA-18-3407-01        Primary Tumor
3    TCGA-18-3407-11  Solid Tissue Normal
4    TCGA-18-3408-01        Primary Tumor
..               ...                  ...
621  TCGA-O2-A52V-01        Primary Tumor
622  TCGA-O2-A52W-01        Primary Tumor
623  TCGA-O2-A5IB-01        Primary Tumor
624  TCGA-O2-A5IC-01        Primary Tumor
625  TCGA-XC-AA0X-01        Primary Tumor

[626 rows x 2 columns]

REPLACING SAMPLE TYPE ID WITH VALUES

In [26]:
d4=dataframe0.replace(to_replace=["Primary Tumor","Solid Tissue Normal"],value=["1","0"]) #Replacing "-" in patient ID into "." to sync IDs with omics

RENAMING COLUMN HEADS

In [27]:
Sample=d4.rename(columns={"sampleID":"PatientID","sample_type":"Class"})

In [28]:
Sample['PatientID']=Sample['PatientID'].str.replace('\-','.')

FINALIZED CLINICAL DATA

In [29]:
Sample

           PatientID Class
0    TCGA.18.3406.01     1
1    TCGA.18.3406.11     0
2    TCGA.18.3407.01     1
3    TCGA.18.3407.11     0
4    TCGA.18.3408.01     1
..               ...   ...
621  TCGA.O2.A52V.01     1
622  TCGA.O2.A52W.01     1
623  TCGA.O2.A5IB.01     1
624  TCGA.O2.A5IC.01     1
625  TCGA.XC.AA0X.01     1

[626 rows x 2 columns]

STORING PROCESSED MULTIOMICS DATA

In [31]:
data_path = './PROCESSED/'
Processed_Gene=GENE.to_csv(data_path + 'processed_Gene_latest.csv')
Processed_MiRNA=MIRNA.to_csv(data_path + 'processed_MiRNA_latest.csv')
Processed_Methy=METHY.to_csv(data_path + 'processed_Methy_latest.csv')

MULTI-OMICS DATA INTEGRATION

IMPORT PRE-PROCESSED MULTIOMICS DATA FOR INTEGRATION

In [32]:
print("----PRE-PROCESSED----") 

dframe1 = pd.read_csv(data_path + "processed_Gene_latest.csv",skiprows=1)
print("GENE EXPRESSION :", dframe1.shape)

dframe2 = pd.read_csv(data_path + "processed_MiRNA_latest.csv",skiprows=1)
print("MIRNA :", dframe2.shape)

dframe3 = pd.read_csv(data_path + "processed_Methy_latest.csv",skiprows=1)
print("DNA METHYLATION :", dframe3.shape)

----PRE-PROCESSED----
GENE EXPRESSION : (552, 13435)
MIRNA : (387, 231)
DNA METHYLATION : (412, 5001)

SETTING PATIENT ID AS DATA INDEX

In [34]:
Gene = dframe1.set_index('sampleID')
MiRNA = dframe2.set_index('sampleID')
Methy = dframe3.set_index('sampleID')
Clinical = Sample.set_index('PatientID')

INTEGRATION OF MULTIOMICS

In [35]:
integrate = [Gene,MiRNA,Methy,Clinical] #Integrating all 3 omics with class embedded
Multiomics = pd.concat(integrate, axis=1, join='inner')

MULTIOMICS DATASET

In [36]:
Multiomics

,?|10357,?|10431,?|155060,?|57714,?|653553,?|8225,A1BG|1,A2LD1|87769,A2M|2,A4GALT|53947,...,rs798149,rs845016,rs877309,rs9292570,rs9363764,rs939290,rs951295,rs966367,rs9839873,Class
TCGA.18.5592.01,236.8295,1141.0830,88.0285,747.6943,409.8256,498.2193,12.0537,111.0547,2676.6396,2246.0049,...,0.012726,0.481794,0.239229,0.087837,0.536541,0.022941,0.540579,0.026454,0.045728,1
TCGA.18.5595.01,245.4566,999.4328,68.3494,671.5825,821.0437,423.4260,26.6591,45.0227,7857.6064,193.7039,...,0.013850,0.396258,0.956542,0.482447,0.566233,0.966587,0.532004,0.510593,0.933625,1
TCGA.21.5782.01,308.5506,923.5955,146.0674,212.3596,1083.1461,767.4157,155.0562,198.5281,9403.2921,1151.6854,...,0.967372,0.933384,0.544448,0.298030,0.932454,0.030718,0.972964,0.466552,0.930599,1
TCGA.21.5783.01,192.7190,526.9117,150.0900,906.6365,748.4178,607.0371,144.2199,47.5353,5312.0566,340.8233,...,0.967869,0.583177,0.020746,0.357359,0.449217,0.963890,0.455323,0.529334,0.936669,1
TCGA.21.5784.01,161.6057,1196.5056,51.7527,212.7613,3455.4904,557.7795,144.1336,106.4647,20321.8932,1511.4453,...,0.393124,0.503706,0.018432,0.639100,0.030030,0.590748,0.522493,0.031209,0.955941,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TCGA.O2.A52S.01,176.7177,1188.3278,226.8212,1100.5795,172.1854,452.8146,133.1664,75.6954,3629.9421,382.8642,...,0.024437,0.084381,0.030087,0.952404,0.569576,0.043652,0.964282,0.367595,0.931168,1
TCGA.O2.A52V.01,188.7215,1248.0303,147.4945,510.5578,1253.0728,811.4298,148.8055,86.9041,5406.0132,1188.7803,...,0.965751,0.067980,0.449615,0.472282,0.068062,0.958774,0.514518,0.431195,0.107549,1
TCGA.O2.A52W.01,260.3332,789.3606,854.3794,388.5008,2354.1107,985.4917,52.7243,81.4992,5299.1080,5458.3557,...,0.971247,0.265095,0.573803,0.506155,0.546692,0.719723,0.530074,0.460235,0.931966,1
TCGA.O2.A5IB.01,160.1624,460.8626,569.2226,932.1086,201.2780,985.0905,14.9281,43.5304,16530.5698,26.8903,...,0.013990,0.031028,0.014438,0.019634,0.948490,0.945375,0.034040,0.501818,0.902703,1
TCGA.XC.AA0X.01,76.6488,805.9507,311.6273,616.4687,646.7441,599.7651,52.4964,49.1035,14704.3769,2560.8769,...,0.290415,0.079589,0.963819,0.023277,0.678331,0.607971,0.509492,0.887421,0.734846,1

SAVE FINALISED DATASET

In [37]:
#Save Finalised Lung Dataset
Complete_Data = Multiomics.to_csv(data_path + 'Complete_MultiOmicsnew.csv')